.el-grid .name{
		width: 8%;
}
.el-grid .number{
		width: 8%;
}
.el-grid .date{
		width: 10%;
}
.el-grid .user{
		width: 8%;
}
.el-grid .value{
		width: 10%;
}
.el-grid .cause{
		width: 10%;
}
.el-grid .description{
		width: 34%;
}
.el-grid .concern{
		width: 12%;
}