.el-grid .oneColumn{
		width: 8%;
}
.el-grid .oneHalfColumn{
		width: 12%;
}
.el-grid .twoColumn{
		width: 16%;
}
.el-grid .threeColumn{
		width: 24%;
}
.el-grid .sixColumn{
		width: 24%;
}
.el-grid .sevenColumn{
		width: 64%;
}