.select{
	size:5;
	width:150px;
	height:30px;
}
.J-form-dutyusermanager-select-icon .select2-results{
	font-size:25px
}
/* .J-form-dutyusermanager-select-icon .select2-container-active{
	font-size:25px
} */