.el-salestatus .mix {
	display: none;
}

.el-salestatus .building{
	width: 8%;
	float: left;
	font-size: 1.5em;
}

.el-salestatus .room-container{
	width: 90%;
	float: left;
	margin-left:2%;
	margin-top: 4px;
}

.el-salestatus .room-item{
	width: 9%;
	float: left;
}

.el-salestatus .nopadding {
	padding: 0;
}

