.el-commissionbase .width_card{
	width:13%;
}
.el-commissionbase .width_checkIn{
	width:13%;
}
.el-commissionbase .width_type{
	width:13%;
}
.el-commissionbase .width_promote{
	width:13%;
}
.el-commissionbase .width_effective{
	width:13%;
}
.el-commissionbase .width_description{
	width:22%;
}
.el-commissionbase .width_op{
	width:13%;
} 