.grid_title{
	width: 15%;
}
.grid_createTime{
	width: 8%;
}
.grid_disabledTime{
	width: 8%;
}
.grid_displayScreens{
	width: 20%;
}
.grid_creator{
	width: 8%;
}
.grid_description{
	width: 20%;
}
.grid_flowStatus{
	width: 5%;
}

