.J-list-member,
.J-personal-container{
	display: none;
}


.el-ward-emergencyrescue .width_sosNo {
	width: 10%;
}
.el-ward-emergencyrescue .width_sosTime {
	width: 12%;
}
.el-ward-emergencyrescue .width_alarmType {
	width: 7%;
}
.el-ward-emergencyrescue .width_sosType {
	width: 7%;
}
.el-ward-emergencyrescue .width_personLiable{
	width: 7%;
}
.el-ward-emergencyrescue .width_hospitalize{
	width: 7%;
}
.el-ward-emergencyrescue .width_place{
	width: 6%;
}
.el-ward-emergencyrescue .width_operate{
	width: 4%;
}
.el-ward-emergencyrescue .width_member{
	width: 5%;
}
.el-ward-emergencyrescue .width_content{
	width: 19%;
}
.el-ward-emergencyrescue .form_content{
	max-height: 130px;
	min-height: 130px;
	width:170%;
}
