.el-property-adjustpeople .cardname {
	width: 12%;
}
.el-property-adjustpeople .signDate {
	width: 12%;
}
.el-property-adjustpeople .cardStatus {
	width: 12%;
}
.el-property-adjustpeople .personalname {
	width: 8%;
}
.el-property-adjustpeople .sex {
	width: 4%;
}
.el-property-adjustpeople .birthday {
	width: 12%;
}
.el-property-adjustpeople .idType {
	width: 10%;
}
.el-property-adjustpeople .idNumber {
	width: 20%;
}
.el-property-adjustpeople .operator {
	width:  6%;
}

