.el-deductioncommission .width_card{
	width:15%;
}
.el-deductioncommission .width_checkIn{
	width:15%;
}
.el-deductioncommission .width_deductproportion{
	width:15%;
}
.el-deductioncommission .width_effective{
	width:15%;
}
.el-deductioncommission .width_description{
	width:25%;
}
.el-deductioncommission .width_op{
	width:15%;
} 